.seqPlayer{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 350px;
}

.sequences{
  height: 295px;
  overflow: hidden;
}

.synthSequenceMenu {
  height: 30px;
  width: 100px;
  background-color: #c9fbbc;
  text-align: center;
}

.synthMenu {
  height: 30px;
  width: auto;
  background-color: #c9fbbc;
  text-align: center;
}

.octButton {
  height: 40px;
  width: 50px;
}

.box {
  height: 40px;
  width: 40px;
}

.loopDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

.loopLabel {
  position: relative;
  padding-left: 4rem;
  font-size: 8;
  height: 2rem;
}

.loopInput,
.loopSpan,
.loopsvg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loopInput {
  opacity: 0;
}

.loopInput:checked+.loopSpan {
  border: 3px solid #337135;
}

.loopInput:checked+.loopSpan .loopsvg {
  animation-name: looping;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
}

.loopSpan {
  border: 3px solid #4caf50;
  width: 2rem;
  height: 1rem;
  padding: 5px;
  z-index: -1;
}

.loopsvg {
  stroke: #4caf50;
  height: 2.5rem;
  width: 3rem;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
  padding-top: 15px;
  padding-left: 0px;
}

@keyframes looping {
  0% {
    stroke-dashoffset: 53;
  }

  100% {
    stroke-dashoffset: 110;
  }
}

.dropdown {
  height: 40px;
  width: 100%;
  background: #e0f5e1;
  z-index: 6;
}

.play-button{
  border: 4px solid;
  height: 40px;
  background-color: #4caf50;
  border-radius: 8px;
  width: 180px;
  padding: 5px 5px;
  color: white;
}

.metro-button {
  border: 4px solid;
  height: 40px;
  background-color: #a8a8a8;
  border-radius: 8px;
  width: 80px;
  padding: 5px 5px;
  color: white;
}

.tempo-box {
  width: 48px;
}

.metro {
  background-color: #eeeeee;
  text-align: center;

}

.contents {
  background-color: #eeeeee;
  text-align: center;

}

.menu {
  border: 4px solid;
  background-color: #4caf50;
  /* Green */
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
  color: white;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  text-align: center;
}

.utilities {
  position: sticky;
  top: 0px;
  padding: 0px 0px;
}

#tempoSync {
  width: 40%;
  height: 50px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -12px;
  /* Centers thumb on the track */

  /*custom styles*/
  background-color: #4caf50;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #a8a8a8;
  outline: 3px solid #292d35;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0;
  /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}