.seqPlayer{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 380px;
  scroll-snap-align: start;
}

.sequences{
  max-height: 295px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  scroll-snap-type: y mandatory;
}

.sync {
  width: 350px;
  position: relative;
  margin: auto;
}
.metronome {
  align-content: center;
  position: relative;
  align-items: center;
}
.syncButton {
  height: 40px;
  width: 80px;
  background-color: #a0144f;
  border-color: #febc17;
  color: #febc17;
  border-radius: 10px;
  border-width: 5px;
}
.synthSequenceMenu {
  height: 30px;
  width: 150px;
  background-color: #fde4a9;
  text-align: center;
  color: #5d0024;
}

.synthControl{
  background: #c4c3c3;
  position: relative;
  display:flex;
  justify-content: space-evenly;
  margin: auto;
  width: 370px;
  padding: 5px;
}

.playButton{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: transparent transparent transparent #5d0024;
  border-width: 20px 0px 20px 50px;
}

.synthMenu {
  height: 30px;
  width: auto;
  background-color: #c9fbbc;
  text-align: center;
}

.octButton {
  height: 40px;
  width: 50px;
}

body{
  display: grid;
  justify-content: center;
  padding: auto;
}

.header {
  width: 400px;
  border: 0px;
  margin: 1px;
  padding: 0;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;

}
.header-element {
  display: inline-block;
  border: 0px;
  margin-left: 10px;
  padding: 0;
  vertical-align: middle;
}

.player {
  display: grid;
  justify-content: center;
}

.upArrow {
  width: 0;  
  height: 0;  
  border-left: 190px solid #a0144f; 
  border-right: 190px solid #a0144f;
  color: #febc17;
  border-bottom: 35px solid #5d0024; 
  margin: 5px;
  position: sticky;
  top: 0px;
  border-radius: 4px;
  justify-self: center;
}
.upArrow:active{
  border-bottom: 30px solid #a0144f; 
}
.downArrow {
  width: 0;  
  height: 0;  
  border-left: 190px solid #a0144f; 
  border-right: 190px solid #a0144f;
  color: #febc17;
  border-top: 35px solid #5d0024; 
  margin-bottom: 5px;
  position: sticky;
  top: 0px;
  border-radius: 4px;
  justify-self: center;
}
.downArrow:active{
  border-top: 30px solid #a0144f; 
}

.tlabel{
  position: relative;
  width: 100px;
  height: 35px;
  left: -50px;
  right: 50px;
  top: 5px;
  text-align: center;
  align-items: center;
}
.blabel{
  position: relative;
  width: 100px;
  height: 35px;
  left: -50px;
  right: 50px;
  top: -25px;
  text-align: center;
  align-items: center;
}

.pbutton {
  /* power button effect courtesy of https://csswolf.com/power-button-effect-in-css/*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #959494;
  position: relative;
  display: grid;
  place-items: center;
}
.pbutton::before {
  /* pseudo-elements don't appear unless content property is declared */
  content: "";
  /* design the element */
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid rgb(190, 191, 190);
  position: absolute;
}
.pbar {
  height: 30%;
  width: 2px;
  background: rgb(190, 191, 190);
  border-radius: 1px; /* for rounded ends */
  box-shadow: 0 0 0 3px white;
  position: absolute; 
  top: 4px;
}
.pbutton.active{
  border: 2px solid lightgreen;
}
.pbutton.active .pbar {
  background: lightgreen;
}

.pbutton.active::before {
  border-color: lightgreen;
}


.box {
  height: 40px;
  width: 40px;
}

.loopDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

.loopLabel {
  position: relative;
  padding-left: 4rem;
  font-size: 8;
  height: 2rem;
}

.loopInput,
.loopSpan,
.loopsvg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loopInput {
  opacity: 0;
}

.loopInput:checked+.loopSpan {
  border: 3px solid #337135;
}

.loopInput:checked+.loopSpan .loopsvg {
  animation-name: looping;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
}

.loopSpan {
  border: 3px solid #4caf50;
  width: 2rem;
  height: 1rem;
  padding: 5px;
  z-index: -1;
}

.loopsvg {
  stroke: #4caf50;
  height: 2.5rem;
  width: 3rem;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
  padding-top: 15px;
  padding-left: 0px;
}

@keyframes looping {
  0% {
    stroke-dashoffset: 53;
  }

  100% {
    stroke-dashoffset: 110;
  }
}

.dropdown {
  height: 40px;
  width: 100%;
  background: #e0f5e1;
  z-index: 6;
}

.play-button{
  /*deprecated*/
  border: 4px solid;
  height: 40px;
  background-color: #a0144f;
  border-radius: 8px;
  width: 180px;
  padding: 5px 5px;
  color: #febc17;
}

.metro-button {
  /*deprecated*/
  border: 4px solid;
  height: 40px;
  background-color: #a0144f;
  border-radius: 8px;
  width: 80px;
  padding: 5px 5px;
  color: #febc17;
}

.tempo-box {
  width: 48px;
}

.metro {
  background-color: #eeeeee;
  text-align: center;
  position: relative;

}

.contents {
  background-color: #eeeeee;
  text-align: center;
  position: relative;  

}

.menu {
  border: 4px solid;
  background-color: #a0144f;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
  color: #febc17;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  text-align: center;
}

.utilities {
  position: sticky;
  top: 0px;
  padding: 0px 0px;
}

#tempoSync {
  width: 40%;
  height: 50px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  height: 0px;
  padding: 2px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.25rem;
  height: 0.25rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -0.5rem;
  /* Centers thumb on the track */

  /*custom styles*/
  background-color: #a0144f;
  height: 1.1rem;
  width: 1rem;
  border-radius: 10px;

}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #a8a8a8;
  outline: 1px solid #292d35;
  outline-offset: 0.02rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.25rem;
  height: 0.25rem;
  margin-top: -0.5rem;
  padding: 0px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 10;
  margin-top: -.5rem;
  /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #a0144f;
  height: 1.1rem;
  width: 1rem;
  padding: 0px;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #a8a8a8;
  outline: 1px solid #292d35;
  outline-offset: 0.02rem;
}
